.ab-con{
    width:60%;
    padding-top: 100px;
     margin-left: 10%; 
    height: auto;
    

    
    
 
}
.ab-con h2{
    font-size: 50px;
    width: 130px;
    border-bottom: 6px solid #0bb1e3;
    color:#999fa1;
    font-family:sans-serif;
    font-weight:lighter;
    
}

.ab-con .des{
   padding-top: 50px;
   margin-left: 5%;
   font-size: 25px;
   
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight:lighter;
   font-style: italic;

   
}


#g-bg p{
    font-size: 800px;
     margin-top: -400px; 
     margin-left: 200px; 
     position:static; 
    color:cornflowerblue;
    opacity: 0.1;
    overflow-x: hidden;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: rotate(20deg);



}




.z-con {
    
}

@media screen and (max-width: 1000px) {


    #g-bg p{
    display: none;
    
    }
    .ab-con{
        padding-bottom: 40%;
    }

}